body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}

.button-nav a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}

button {
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #005f73;
}

/* Responsividade */

@media (max-width: 1200px) {
    .menu {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .menu {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .menu {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .menu {
        grid-template-columns: 1fr;
    }
}
